<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/images/logo.jpg" alt="Logo" height="50px" width="100px"></a>
      <!-- <a href="/" class="navbar-brand">Home</a> -->
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        
        <li>
          <a href="/signin">Sign in</a>
        </li>
        
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12"><!-- /cont -->
              <h3 style="color: rgb(228, 147, 27);">Welcome.... Let's Explore!</h3>
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
         
          <!--Form Starts-->
          <br>
          
            <div class="col-lg-5"></div>
            <div class="col-lg-3 myMargin">
                <form method="POST" action="/signin/saveuser" onsubmit="return !!(validation() & mobvalidation() & pwdvalidation() & pwdmismatch() & Fnamevalidation() & Lnamevalidation())">
                  <div class="form-row">
                    <div class="form-group">
                        <label for="form-group">First Name</label>
                        <input id="Fname" type="text" class="form-control" placeholder="Your First Name" name="firstname">
                        <label for="error" id="FerrorId"></label>   <!-- First Name Error Display -->
                    </div>
                    <div class="form-group">
                        <label for="form-group">Last Name</label>
                        <input id="Lname" type="text" class="form-control" placeholder="Your Last Name" name="lastname">
                        <label for="error" id="LerrorId"></label>   <!-- Last Name Error Display -->
                    </div>
                    <div class="form-group">
                      <label for="form-group">Mobile No.</label>
                      <input id="MobNo" type="text" class="form-control" placeholder="Your Mobile No." name="mobileno">
                      <label for="error" id="merrorId"></label>   <!-- Mobile no. Error Display -->
                    </div>

                    <div class="form-group">
                      <label for="form-group">Email ID</label>
                      <input type="text" class="form-control" id="emailId" placeholder="Your Email ID" name="email">
                      <label for="error" id="errorId"></label>   <!-- Email Error Display -->
                    </div>
                    <div class="form-group">
                      <label for="inputPassword4">Password</label>
                      <input type="password" class="form-control" id="pwdId" placeholder="Your Password" name="password">
                      <label for="error" id="perrorId"></label>   <!-- Password Error Display -->
                    </div>
                    <div class="form-group">
                      <label for="inputPassword4">Confirm Password</label>
                      <input type="password" class="form-control" id="cpwdId" placeholder="Confirm Password" name="cpassword">
                      <label for="error" id="cperrorId"></label>   <!-- Confirm Password Error Display -->
                    </div>
                  </div>
                  <br>
                  <button type="submit" id="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <hr>
            </div>
          
          <!--Form Ends-->
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> by <a href="http://www.bootply.com">JK</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/form.js"></script>
	</body>
</html>